# Sublime Text
*.sublime-workspace

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.vscode/
.idea/
*.egg
*.egg-info
dist/
build/
eggs/
